*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #D3681E;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#container{
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 16px;
}

.quotes{
    margin-top: 10px;
    line-height: 33px;
    font-size: large;
}

.author{
    margin-top: 15px;
    color: #D3681E;
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-weight: 400;
}

button{
    margin-top: 15px;
    padding: 9px 15px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}